body {
	font-family: "Roboto Mono", monospace;
	text-align: center;
	background-image: url("https://i.imgur.com/mZjmJiF.jpg");
	background-color: #000000;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	overflow-y: scroll;
}

.container {
	text-align: center;
	padding: 20px;
}

.page-title {
	color: #ffffff;
	margin: 0 0 5px;
}

.page-subtitle {
	color: #ffffff;
	margin-top: 5px;
}

.page-logo {
	width: 200px;
}

.alura-logo {
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
}

.form-wrapper {
	display: block;
	margin: 0 auto;
	padding: 10px 15px;
}

body > img {
	margin: 0 10px;
}

img {
	max-height: 250px;
}

.form-box {
	color: #ffffff;
	background-color: #000000;
	width: 440px;
	font-weight: bold;
}

.center {
	margin: auto;
	border: 0px;
	padding: 10px;
}

.alocation {
	margin-top: 20px;
	margin-bottom: 10px;
}

.imagem-manga {
	margin: 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.botao-form {
	position: relative;
	display: inline-block;
	color: #03e9f4;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	letter-spacing: 4px;
	overflow: hidden;
	background-color: #000000;
}
.botao-form:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.botao-form span {
	position: absolute;
	display: block;
}
.botao-form span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #03e9f4);
	animation: animate1 1s linear infinite;
}
@keyframes animate1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}
.botao-form span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #03e9f4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}
@keyframes animate2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}
.botao-form span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #03e9f4);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}

.botao-form span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #03e9f4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

:root {
	--card-height: 30px;
	--card-width: 500px;
}

.card {
	background: #191c29;
	width: var(--card-width);
	height: var(--card-height);
	padding: 3px;
	position: relative;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 14px;
	color: rgb(88 199 250 / 100%);
	cursor: pointer;
	margin-top: 10px;
}

.card:hover {
	color: rgb(88 199 250 / 100%);
	transition: color 1s;
}
.card:hover:before,
.card:hover:after {
	animation: none;
	opacity: 0;
}

.card::before {
	content: "";
	width: 102%;
	height: 130%;
	border-radius: 8px;
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
	position: absolute;
	z-index: -1;
	top: -15%;
	left: -1%;
	animation: spin 2.5s linear infinite;
}

.card::after {
	position: absolute;
	content: "";
	top: calc(var(--card-height) / 6);
	left: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0 auto;
	transform: scale(0.8);
	filter: blur(calc(var(--card-height) / 6));
	background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
	opacity: 1;
	transition: opacity 0.5s;
	animation: spin 2.5s linear infinite;
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}
